:root{
    --brand-color: #9B948A;
}
@font-face {
    font-family: "Neue Machina";
    src: url(https://res.cloudinary.com/aremusmog/raw/upload/v1626342911/beard-kit/fonts/NeueMachina-Regular_efhthu.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Neue Machina";
    src: url(https://res.cloudinary.com/aremusmog/raw/upload/v1626342909/beard-kit/fonts/NeueMachina-Bold_gf7e9u.ttf);
    font-weight: 700;
}


body{
    background-color: black;
    color: white;
    font-family: "Neue Machina";
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--brand-color);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 0em 1em;
}

.main-header{
    display: flex;
    justify-content: space-between;
   padding: 1em 0em;

}


.brand-logo{
    width: 180px;
}

.main-nav-list{
    list-style: none;
}

.main-nav-list li{
    display: inline-block;
    margin-left: 4em;
}


.hero{
    position: relative;

}
.hero-title{
    font-size: 160px;
    color: transparent;
    -webkit-text-stroke: 1.5px var(--brand-color)
}

.hero-image{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 450px;
    z-index: -1;
}

.video{
    padding: 50px 0;
}

.video iframe {
    max-width: 800px;
    width: 100%;
    height: 500px;
    display: block;
    margin: auto;
}


.join-the-gang-title{
    text-align: center;
    font-size: 80px;
    color: transparent;
    -webkit-text-stroke: 1px var(--brand-color)
}


.join-the-gang-form{
    display: flex;
    justify-content: center;
}

input{
    outline: none;
    background-color: transparent;
    border: 1px solid var(--brand-color);
    font-size: 18px;
    font-family: "Neue Machina";
    padding:  1em;
    width: 435px;
    color: var(--brand-color);
}

input[type="submit"]{
background-color: var(--brand-color);
color: black;
text-transform: uppercase;
width: 206px;
cursor: pointer;
}

.main-footer{
    text-align: center;
    font-size: 14px;
    color: var(--brand-color);
    margin-top: 4em;
    padding: 4em 0em;
}

.main-footer a {
    text-decoration: underline;
}